#navibo-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0;
  display: block;
  width: 280px;
  text-align: right;
}
.navibo-open {
  color: white;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.8);
}
.navibo-ontoggle {
  cursor: pointer;
}
.navibo-button {
  cursor: pointer;
  min-width: 80px;
  margin: 3px;
  padding: 3px 5px;
  display: inline-block;
  border: solid 1px white;
}
.navibo-button:hover {
  background-color: white;
  color: rgba(0, 0, 0, 0.6);
}
.navibo-close {
  position: absolute;
  top: 3%;
  right: 7%;
}
.navibo-balloon {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px 20px;
  position: relative;
  min-height: 80px;
  text-align: center;
  margin: 10px;
}
.navibo-balloon:after {
  border-top: 12px solid rgba(0, 0, 0, 0.7);
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  content: '';
  margin-left: -10px;
  position: absolute;
  bottom: -12px;
  left: 70%;
}
.navibo-description {
  margin: 0;
}
